<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_csv_upload.name %>
</p>

<%= link_to 'Edit', edit_user_csv_upload_path(@user_csv_upload) %> |
<%= link_to 'Back', user_csv_uploads_path %>
